<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>KingBook</title>
</head>
<body>

    <div class="box" id="heading">
            <h1>Stephen King books</h1>
    </div>
    
    <div class="box">
        <form class="book" action="/" method="POST">
            <input class="input" type="text" name="newBook">
            <button class="button" type="submit">Add book</button>
        </form>
    </div>

    <div class="counter">
        <p class="block"></p>
    </div>

    <div class="list">
    <% bookItems.forEach(function(bookItem){ %>
        <form action="/update" method="post">
            <div class="bookItem">
                <% if(bookItem.checked == 0 ) {  %>
                    <input id="<%= bookItem._id %>" class="checked" type="checkbox" name="checkbox" onchange="this.form.submit()" hidden>
                <% } else { %>
                    <input id="<%= bookItem._id %>" class="checked" type="checkbox" name="checkbox" checked onchange="this.form.submit()" hidden>
                <% } %>
                <span class="check"></span>
                <label for="<%= bookItem._id %>" data-bookid="<%= bookItem._id %>"><%= bookItem.name %> </label>
                <input type="text" name="bookName" value="<%= bookItem.name %>" data-bookid="<%= bookItem._id %>" class="bookName" hidden>
            </div>
            <hr>
            <input type="text" name="bookId" value="<%= bookItem._id %>" hidden>
        </form> 
        
        <div class="icons">
            <form action="/delete" method="post">
                <input class="trash" type="image" src="/image/delete.svg" alt=""  onchange="this.form.submit()">
                <input type="text" name="trash" value="<%= bookItem._id %>" hidden>
            </form>
            <input class="pen" type="image" src="/image/pen.svg" data-bookid="<%= bookItem._id %>">
        </div>
    <% }) %>
    </div>

    <script src="js/list.js"></script>
</body>
<footer>
    Copyright 2020.
</footer>
</html>